#gridContainer {
    width: 800px;
    height: 800px;
    display:flex;
    flex-wrap: wrap;
    margin: 50px auto 50px auto;
    border: 1px grey solid;
}

#header {
    text-align: center;

}

#resize {
    margin: 0 auto;
    display: block;
}

.fill {

    background-color: grey;
}